# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\00 - ESTACIO\Desenvolvimento Agil com Python\curso_python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
